table{
    border: 2 solid ;
}
 td{
    border: 1px solid ;    
}
th{
    border: 1px solid ;
}
.center{ 
        display: flex;
        justify-content: center;
        margin-top: 30px;
}
.table{
    margin-top: 50px;
    display: flex;
    justify-content: center;     
}
.title{
    display: flex;
    justify-content: center;     
}

